body {
  background-color: #402010;
  color: antiquewhite;
  padding: 2em;
}

header {
  text-align: center;
  font-size: x-large;
}

main {
  text-align: center;
  font-size: large;
}

.beer-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.beer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.402);
  border-radius: 8px;
  margin: 0.5em;
  width: 260px;
  box-shadow: 5px 10px 8px black;
}

.beer-image {
  width: 100%;
  max-height: 500px;
}

.beer-image img{
  object-fit: 90%
}

.beer-card h2 {
  font-size: medium;
  margin-bottom: 4px;
}

.beer-card p {
   margin-top: 0;
}

button {
  background-color:rgba(255, 255, 255, 0.309);
  border: none;
  border-radius: 8px;
  color:antiquewhite;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0 12px 16px 0 #30180c,0 17px 50px 0 #30180c;
}